/* --- POPUP REGISTRO--- */

.cursor-pointer {
  cursor: pointer;
}


.hv-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000; 
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}


#modal-toggle:checked ~ .hv-modal-overlay {
  opacity: 1;
  pointer-events: auto;
}


.hv-modal-card {
  background: #ffffff;
  padding: 30px 25px;
  border-radius: 15px;
  width: 90%;
  max-width: 400px;
  position: relative;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}


.hv-btn-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 26px;
  cursor: pointer;
  color: #888;
  line-height: 1;
}


.hv-tabs {
  display: flex;
  border-bottom: 2px solid #eee;
  margin-bottom: 20px;
}

.hv-tab-label {
  flex: 1;
  text-align: center;
  padding: 8px 0;
  cursor: pointer;
  font-weight: 600;
  color: #36ad50;
  transition: color 0.2s, border-bottom 0.2s;
}

#hv-tab-login:checked ~ .hv-tabs label[for="hv-tab-login"],
#hv-tab-register:checked ~ .hv-tabs label[for="hv-tab-register"] {
  color: #36ad50; 
  border-bottom: 3px solid #1d7423;
  margin-bottom: -2px;
}


.hv-form {
  display: none;
}

#hv-tab-login:checked ~ .hv-form-login {
  display: block;
}

#hv-tab-register:checked ~ .hv-form-register {
  display: block;
}

.extra-small {
  font-size: 0.75rem;
}

.btn-sesion {
  background-color: #00A88F;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.btn-sesion:hover {
  background-color: #008874;
}