<nav class="navbar navbar-expand-lg navbar-huellavet" data-bs-theme="dark">
    <div class="container-fluid">

        <a class="navbar-brand d-flex align-items-center gap-2" href="index.html">
            <img id="logoMarca"
                src="https://images.icon-icons.com/1949/PNG/512/free-30-instagram-stories-icons53_122600.png"
                alt="Logo de HuellaVet" height="50" class="object-fit-contain">

            <span id="nombreMarca">
                HuellaVet
            </span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuPrincipal"
            aria-controls="menuPrincipal" aria-expanded="false" aria-label="Abrir menú">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menuPrincipal">

            <ul class="navbar-nav ms-auto align-items-lg-center">

                <li class="nav-item">
                    <a class="nav-link" href="servicios.html" data-nav="servicios">
                        Servicios
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="somos.html" data-nav="somos">
                        Acerca de mí
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="contacto.html" data-nav="contacto">
                        Contacto
                    </a>
                </li>

                <li class="nav-item ms-lg-3">
                    <a class="btn btn-agendar" href="agendar.html">
                        Agendar cita
                    </a>
                </li>

                <li class="nav-item ms-lg-2">
                    <a class="nav-link d-flex align-items-center" href="#" id="btn-login"
                        aria-label="Iniciar sesión o registrarse" title="Iniciar sesión o registrarse">
                        <i class="bi bi-person-circle fs-4"></i>

                        <span class="ms-2 d-lg-none">
                            Ingresar
                        </span>
                    </a>
                </li>

            </ul>

        </div>
    </div>
</nav>